<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytowanie grupy</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Edytowanie</h1>
    <hr>
    <form th:action="@{/edit/{id}(id=${group.id})}" th:object="${group}" method="POST">
        <div class="form-group">
            <input type="text" th:field="*{name}" class="form-control mb-4 col-4">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <input type="number" th:field="*{numberOfUsers}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-warning"> Edytuj grupę</button>
    </form>
    <hr>
    <a th:href = "@{/}">Powrót do głównej listy</a>
</div>

</body>
</html>